<div class="home-wrap" style="margin: auto">
        <div class="section-title">
                <h3 class="title"> My Stock </h3>
        </div>
        <div id="breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="/shelf">Stock</a></li>
                </ul>
            </div>
        </div>
        <div *ngFor="let product of shelf" class="row product-container"> <!-- start of for loop -->
            <div class="col-md-2">
                <img src="data:image/png;base64,{{product.image}}" alt=""> <!-- prod img ==> src="data:image/png;base64,{{product.image}}" --> 
            </div>
            <div class="col-md-7">
                <a><h3>{{product.name}}</h3></a> <!-- prod name -->
                <div>
                    <rating [ngModel]="product.rating" [float]="true" [readonly]="true"></rating> <!-- prod rating -->
                </div>
                    
                <div style="overflow-wrap: break-word"> <!-- prod desc -->
                    {{product.description}}
                </div>
            </div>
            <div class="col-md-3">
                <h3 class="price primary-color">{{product.price}} $</h3><br> <!-- prod price -->
                <h5 class="price">{{product.amountAvailable}} available </h5><br> <!-- prod available -->
                <button routerLink="/edit/{{product._id}}" class="center price primary-btn add-to-cart">Edit Product</button>  <!-- prod id -->
            </div>      
        </div>
        
    </div>
