<div class="home-wrap" style="margin: auto">
    <div class="section-title">
            <h3 class="title"> My Dashboard </h3>
    </div>
    <div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a routerLink="">Home</a></li>
				<li><a routerLink="/sales">Sales</a></li>
			</ul>
		</div>
	</div>
    <div *ngFor="let order of orders" class="row product-container"> <!-- start of for loop -->
        <div class="col-md-2">
            <img src="../../assets/img/banner01.jpg" alt=""> <!-- prod img ==> src="data:image/png;base64,{{product.image}}" --> 
        </div>
        <div class="col-md-7">
            <a><h3>{{order.product.name}}</h3></a> <!-- prod name -->
            <div>
                <rating [ngModel]="order.product.rating" [float]="true" [readonly]="true"></rating> <!-- prod rating -->
            </div>
                
            <div style="overflow-wrap: break-word"> <!-- prod desc -->
                {{order.product.desc}}
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="price primary-color">{{order.product.price}} $</h3><br> <!-- prod price -->
            <h5 class="price">{{order.product.available}} available </h5><br> <!-- prod available -->
            <h5 class="price">{{order.quantity}} piece </h5><br> <!-- order quantity -->
            <button routerLink="/order" class="center price primary-btn add-to-cart">View Order Details</button> 
        </div>      
    </div>
    
</div>