
/* The navigation menu links */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 500px;
    margin-left: 100px;
    margin-top: 108px;
    width: 200px;
    display: none;
    position: absolute;
    z-index: 1;
    top: -108%;
    left: -8%;
    background-color: #111;
    /* overflow-x: hidden; */
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 20px;
}


.menus {
    position: fixed;
    z-index: 1;
}

#cat {
    padding: inherit;
    display: block;
    width: 200px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: 0.3s;
}

.sidenav li:hover {
    background-color: orangered;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.category-header{
    color: red;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
  
  /* Page content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }
  

.accordion {
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    
    padding: inherit;
    display: block;
    width: 200px;
    text-decoration: none;
    font-size: 25px;
    /* color: white; */
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    display: none;
    /* background-color: white; */
    overflow: hidden;
}

.mat-expansion-panel-header-title {
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    padding: inherit;
    display: block;
    width: 200px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-size: 25px;
    /* background-color: #111 !important; */
}



.subcat{
    /* background-color: grey; */
    align-content: center;
    /* color: whitesmoke; */
    font-size: 25px;
}

.mat-expansion-panel-body {
    /* background-color: darkgrey !important; */
    color: whitesmoke; 
    align-content: center;
    padding: 0 0 0 !important;
} 
/* .mat-expansion-panel-content{
    background-color: darkgrey !important;
} */
.mat-expansion-indicator{
    color: white !important;
}