<div class="home-wrap">
    <h1>Sign Up</h1>
    <form (ngSubmit)="submit()" #signupForm="ngForm">
        <fieldset>
            <legend><span class="number">1</span>Your basic info</legend>
            <label for="name">Name:</label>
            <input type="text" id="name" name="user_name" [(ngModel)]="name" required #uname = "ngModel">
            <div *ngIf="uname.invalid && (uname.dirty || uname.touched)" class="alert alert-danger">
                <div *ngIf = "uname.errors?.required">
                    username field can't be blank
                </div>
            </div>

            <label for="mail">Email:</label>
            <input type="email" id="mail" name="user_email" #em = "ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [(ngModel)]="email" required>
            <!-- <div [hidden]="em.valid || em.pristine" class="alert alert-danger">Email is must be in the form a@b.cc</div> -->
            <div *ngIf="em.invalid && (em.dirty || em.touched)" class="alert alert-danger">
                <div *ngIf = "em.errors?.required">
                    Email field can't be blank
                </div>
                <div *ngIf = "em.errors?.pattern && em.touched">
                    Email is must be in the form a@b.cc
                </div>
            </div>

            <label for="password">Password:</label>
            <input type="password" id="password" name="user_password"[(ngModel)]="password" minlength="8" #pass = "ngModel" required>
            <div [hidden]="pass.valid || pass.pristine" class="alert alert-danger">Password must consist of at least 8 alphanumeric characters</div>

            <label for="repassword">Retype Password:</label>
            <input type="password" id="repassword" name="user_repassword" [(ngModel)]="repassword" minlength="8" #repass="ngModel" required>
            <div [hidden]="repass.valid && pass.value == repass.value || repass.pristine" class="alert alert-danger">Password Mismatch</div>
            
            <image-upload (removed)="onRemoved($event)" (uploadFinished)="onFileChange($event)" [max]="1" [extensions]="['jpg','png','gif']" [buttonCaption]="'Profile Picture'" [maxFileSize]="1048576" [fileTooLargeMessage]="'Image too large!'" [dropBoxMessage]="'Drop your image here!'"></image-upload>
            <!-- <label for="image" class="cols-sm-2 control-label">Upload image</label>
            <input type="file" name="image" id="image" placeholder="Upload image" (change)="onFileChange($event)"/> -->
            <!-- <img [hidden]="!showImage" src="data:image/png;base64,{{image}}" width="100px"/> -->
          </fieldset>
          <button type="submit" [disabled]="!signupForm.form.valid">Sign Up</button>      
    </form>
</div>
