<div >
  <h1>Sign Up</h1>
  <form (ngSubmit)="submit()" #signupForm="ngForm" enctype="multipart/form-data">
    <fieldset>
      <legend>
        <span class="number">1</span>Your basic info</legend>
      <label for="name">Name:</label>
      <input type="text" id="name" name="user_name" [(ngModel)]="user.name" required #uname="ngModel">
      <div *ngIf="uname.invalid && (uname.dirty || uname.touched)" class="alert alert-danger">
        <div *ngIf="uname.errors?.required">
          username field can't be blank
        </div>
      </div>

      <label for="mail">Email:</label>
      <input type="email" id="mail" name="user_email" #em="ngModel" pattern="[a-zA-Z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$" [(ngModel)]="user.email"
        required>
      <!-- <div [hidden]="em.valid || em.pristine" class="alert alert-danger">Email is must be in the form a@b.cc</div> -->
      <div *ngIf="em.invalid && (em.dirty || em.touched)" class="alert alert-danger">
        <div *ngIf="em.errors?.required">
          Email field can't be blank
        </div>
        <div *ngIf="em.errors?.pattern && em.touched">
          Email is must be in the form a@b.cc
        </div>
      </div>

      <label for="password">Password:</label>
      <input type="password" id="password" name="user_password" [(ngModel)]="user.password" minlength="8" #pass="ngModel" required>
      <div [hidden]="pass.valid || pass.pristine" class="alert alert-danger">Password must consist of at least 8 alphanumeric characters</div>

      <label for="repassword">Retype Password:</label>
      <input type="password" id="repassword" name="user_repassword" [(ngModel)]="user.repassword" minlength="8" #repass="ngModel" required>
      <div [hidden]="repass.valid && pass.value == repass.value || repass.pristine" class="alert alert-danger">Password Mismatch</div>

      <label for="Address">Address:</label>
        <input type="text" id="Address" name="Address" [(ngModel)]="user.address" #ADDR="ngModel"
          required>
        <div [hidden]="ADDR.valid || ADDR.pristine" class="alert alert-danger">Address Can not be blank</div>

      <div *ngIf="seller">
        <label for="NationaID">National ID:</label>
        <input type="text" id="NationaID" name="NationaID" pattern="[0-9]{14}" [(ngModel)]="user.NationaID" minlength="14" maxlength="14" #NID="ngModel"
          required>
        <div [hidden]="NID.valid || NID.pristine" class="alert alert-danger">NationaID Must be 14 numbers</div>
      </div>
      
      <image-upload (removed)="onRemoved($event)" (uploadFinished)="onFileChange($event)" [max]="1" [extensions]="['jpg','png','gif']"
        [buttonCaption]="'Profile Picture'" [maxFileSize]="1048576" [fileTooLargeMessage]="'Image too large!'" [dropBoxMessage]="'Drop your image here!'"></image-upload>
    </fieldset>
    <button type="submit" [disabled]="!signupForm.form.valid || pass.value != repass.value">Sign Up</button>
    <div>
      <p style="font-size: 20px">Want to be a seller?
        <a style="color: blue;font-size: 20px" (click)="sellerSignup()">Sell with us now</a>
      </p>

    </div>

  </form>
</div>
