<div class="home-wrap" style="margin: auto">
    <div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li><a href="#">Products</a></li> 
				<li><a href="#">Category</a></li> <!-- cat name -->
				<li class="active">Product Name Goes Here</li> <!-- prod name -->
			</ul>
		</div>
    </div>
    
    <div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!--  Product Details -->
				<div class="product product-details clearfix">
					<div class="col-md-6">
						<div id="product-main-view">
							<div class="product-view">
								<img src="../../assets/img/banner01.jpg" alt=""> <!-- prod image -->
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="product-body">
							<h2 class="product-name">Product Name Goes Here</h2> <!-- prod name -->
							<h3 class="product-price">$32.50</h3> <!-- prod price -->
							<div>
								<div class="product-rating">  <!-- prod Rating -->
									<rating [(ngModel)]="product.rating" [float]="true" [readonly]="true"></rating>
								</div>
								<span>3 Review(s)</span>
							</div>
							<p><strong>Seller:</strong> {{seller}}</p>
							<p><strong>Brand:</strong> {{brand}}</p>
							<p><strong>Description</strong>{{desc}}</p>
							<p>
							<div class="product-options">
							</div>

							<div class="product-btns">
								<button (click)="addToCart()" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
								
							</div><br>
							<div>
									<h3><strong>Your Rating</strong></h3>
								<rating (click)="rate()" [(ngModel)]="userRating" [float]="true" ></rating>
							</div>
							<div>
								
							</div>
						</div>
					</div>
				</div>
				<!-- /Product Details -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
</div>