img{
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    margin: auto;
}

button{
    margin-bottom: 0px;
}

.product-container{
    margin: 42px; 
    border: solid 3px red; 
    padding: 20px;
}
#pagination{
    font-size: 30px; 
    display: table;
    margin-right: auto;
    margin-left: auto;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  textarea,
  select {
    background:white;
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: ghostwhite;
    color: black;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  /* legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  } */
  
  label {
    margin-bottom: 12px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: orangered;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  
  }