<div class="home-wrap" style="margin: auto">
    <div class="section-title">
            <h3 class="title"> Search Results </h3>
    </div>
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a routerLink="">Home</a></li>
            </ul>
        </div>
    </div>

    <div *ngFor="let product of searchResult" class="row product-container"> <!-- start of for loop -->
        <div class="col-md-2">
            <img src="data:image/png;base64,{{product.image}}" alt="">
        </div>
        <div class="col-md-7">
            <a><h3>{{product.name}}</h3></a> <!-- prod name -->
            <div>
                <rating [ngModel]="product.sumOfRates/product.ratesCounter" [float]="true" [readonly]="true"></rating> <!-- prod rating -->
            </div>
                
            <div style="overflow-wrap: break-word"> <!-- prod desc -->
                {{product.description}}
            </div>
        </div>
        <div class="col-md-3">
            <h3 class="price primary-color">{{product.price}} $</h3><br> <!-- prod price -->
            <h5 class="price">{{product.amountAvailable}} available </h5><br> <!-- prod available -->
        </div>      
    </div>
    
    <div id="pagination">
        <ul class="store-pages" (click)="paginate($event)">
            <li value=-1>&laquo;</li>
            <li value=1 class="active">{{currentPage}}</li>
            <li value=0>&raquo;</li>
        </ul>
    </div>
    
</div>
