<div class="home-wrap">
  <!-- home slick -->
  <div id="home-slick" class="row">
    <div class="col-sm-1" style="">
      <button class="btn btn-warning btn-arrow-left" (click)="carousel.left()" style="margin-top:250px; position:relative; width:80px">left</button>
    </div>
    <div class="col-sm-10">
      <ngx-slideshow #carousel>
        <li *ngFor="let prod of newArr">
          <img src="data:image/png;base64,{{prod.image}}" height="500px">
        </li>
      </ngx-slideshow>
    </div>
    <div class="col-sm-1">
      <button class="btn btn-warning btn-arrow-right" (click)="carousel.right()" style="margin-top:250px; position:relative; width:80px">right</button>
    </div>
  </div>
</div>
<!-- /home slick -->

<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="title">Latest Products</h2>
        </div>
      </div>
      <!-- section title -->

      <!-- Product Single -->
      <div *ngFor="let product of products" class="col-md-3 col-sm-6 col-xs-6">
        <div class="product product-single">
          <div class="product-thumb">
            <button routerLink="/product" class="main-btn quick-view"> <!-- "/product/prod.id" -->
              <i class="fa fa-search-plus"></i> View </button> <!-- prod image -->
            <img src="data:image/png;base64,{{product.image}}" alt=""> 
          </div>
          <div class="product-body">
              <h2 class="product-name">
                  <h3 class="primary-color" href="/product">{{product.name}}</h3> <!-- "/product/prod.id" -->
              </h2>
                <!-- prod name -->
            <h3 class="product-price">{{product.price}} $</h3> <!-- prod image -->
            <!-- product price -->
            <rating [(ngModel)]="product.sumOfRates/product.ratesCounter" [float]="true" [readonly]="true"></rating>
            <!-- product rating -->
            
      <!-- /Product Single -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
